* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Arial", sans-serif;
  line-height: 1.6;
  background-color: #f4f4f4;
  color: #333;
}

header {
  background-color: #007bff; /* Biru */
  padding: 15px 0;
}

nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

nav .logo h1 {
  color: white;
  font-size: 24px;
}

.navbar {
  list-style: none;
  display: flex;
  padding: 0;
}

.navbar li {
  margin: 0 20px;
}

.navbar li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  transition: color 0.3s ease;
}

.navbar li a:hover {
  color: #ffd700; /* Warna emas saat hover */
}

main {
  padding: 40px 20px;
  text-align: center;
}

main h2 {
  font-size: 28px;
  margin-bottom: 20px;
  color: #333;
}

footer {
  background-color: #333;
  color: white;
  text-align: center;
  padding: 15px 0;
  position: fixed;
  bottom: 0;
  width: 100%;
}

footer p {
  margin: 0;
}
